/* PopupForm.css */
.popup-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-inner {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background: var(--bg-body);
    padding: 1rem 1.5rem;
    max-width: 500px;
    width: 100%;
}

.popup-inner textarea {
    height: 5rem;
    min-height: 2.5rem;
    resize: vertical;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.popup-inner .button-container {
    display: flex;
    justify-content: space-between;
}
