.nav-container {
    display: grid;
    height: 100vh;
    gap: 10px;
    padding: var(--gap);
    box-sizing: border-box;
    grid-template-columns: 50px auto;
}

.nav-container > * {
    box-sizing: border-box;
    height: 100%;
}

.nav-window-container {
    position: relative;
    overflow: hidden scroll;
    background: linear-gradient(0deg, var(--bg-body) 96%, #efefef 100%);
    padding: 10px;
}

.nav-window {
    /* padding: 0 50px; */
}


@media (min-width: 1224px){
    .nav-container {
        grid-template-columns: 300px auto;
    }

    .nav-window-container {
        padding: 50px;
    }
}
