.nav-container {
    display: grid;
    grid-template-columns: 300px auto;
    height: 100vh;
    gap: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.nav-container > * {
    box-sizing: border-box;
    height: 100%;
}

.nav-window-container {
    position: relative;
    overflow: hidden scroll;
    height: calc(100vh - 16px);
    background: linear-gradient(0deg, var(--bg-body) 96%, #efefef 100%);
}

.nav-window {
    padding: 0 50px;

}
