.tabs {
    display: flex;
    background-color: var(--main-light);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden;
}

.tab {
    background-color: var(--main-light);
    border-radius: 0;
    font-weight: 600;
}

.tab.active {
    background-color: var(--main-lighter);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.meetings {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--main-lighter);
    min-height: 70vh;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.meeting {
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    background-color: var(--bg-body);
    gap: 1rem;
    flex-wrap: wrap;
    padding: .75rem;
}

.meeting-time {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
}

.meeting-plan, .leader-name {
}

.options {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.options button {
    background: none;
}
