.form-container {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;

    width: calc(100vw - 16px);
    /* height: calc(100vh - 16px); */

    transform: translate(-50%, -50%);

    backdrop-filter: blur(20px);

    border-radius: 10px;

    display: block;

    padding: 40px;

    text-align: center;
}

@media (min-width: 1224px) {
    .form-container {
        width: 500px;
        height: auto;
        top: 30vh;
        left: 50vw;
        transform: translate(-50%, -200px);
    }
}

.form-container * {
    box-sizing: border-box;
}

.form-input {
    margin: 1.5rem 0;
}

.form-input > label {
    display: block;
    text-align: left;
    margin: 5px 0;
}

.form-input > input:not([type=checkbox]):not([type=radio]) {
    width: 100%;
}

.form-container button {
    width: 100%;
}
