.form-container {
    box-sizing: border-box;
    position: fixed;
    top: 30vh;
    left: 50vw;

    width: 500px;
    transform: translate(-50%, -200px);

    backdrop-filter: blur(20px);

    border-radius: 10px;

    display: block;

    padding: 40px;

    text-align: center;
}

.form-container * {
    box-sizing: border-box;
}

.form-input {
    margin: 1.5rem 0;
}

.form-input > label {
    display: block;
    text-align: left;
    margin: 5px 0;
}

.form-input > input:not([type=checkbox]):not([type=radio]) {
    width: 100%;
}

.form-container button {
    width: 100%;
}
