.popup-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: var(--gap);
}

.popup-inner {
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background: var(--bg-body);
    padding: 1rem 1.5rem;
    max-width: 500px;
    width: 100%;
    max-height: 80vh;
    overflow-y: scroll;
    /* min-height: 1000px; */
}

.popup-inner textarea {
    height: 5rem;
    min-height: 2.5rem;
    resize: vertical;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.popup-inner .button-container {
    display: flex;
    justify-content: space-between;
}

.popup-close-button {
    box-sizing: content-box;
    display: block;
    position: absolute;
    background-color: var(--bg-accent-red);
    color: var(--main-lighter);
    right: 0;
    top: 0;
    /* transform: translate(50%, -50%); */
    padding: 5px;
    font-size: 0.8rem;
    height: 1rem;
    width: 2rem;
    border-radius: 0;
    border-bottom-left-radius: var(--rounded-more-radius);
}

.popup-inner .input-group {
    display: flex;
    flex-direction: column;
}


.popup-inner .input-group > label{
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 2rem;
}

.popup-inner .input-group > .uneditable{
    display: block;
    line-height: 2.5rem;
    padding: 0 .75rem;
}


@media (max-width: 768px){
    .popup-form {
        padding: var(--gap);
        box-sizing: border-box;
    }

    .popup-inner {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        max-width: none;
        overflow-y: scroll;
        max-height: none;
    }
}
