.flex {
    display: flex;
}

.spacing {
    flex: 1;
}


.topbar {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px var(--border-light) solid;
    align-items: center;
}

.topbar > * {
}
